



    h1{
      color: rgb(7, 7, 7);
     text-align:center ;
    
    }
    
    table, th, td {
  border: 1px solid black;
  font-size: 40px;
}

    a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

    